<div class="container">
  <div style="border: 1px solid black; margin: 20px; padding-top: 30 px">
      <h2 style="margin: 20px"> {{'Reservas por confirmar' | translate}}</h2>

  <div style="width: 18rem;margin-top: 20px;margin-left: 10px;font-family: Nunito, sans-serif ">
 
        <div class="card" style="width: 18rem;margin:10px" *ngFor="let reserv of reservs">
            <div class="card-body">
              <h5 class="card-title">{{reserv.client.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{'Nueva reserva'| translate}}</h6>
              <p class="card-text">{{reserv.startDate | date: 'dd-MM-yyyy'}} - {{reserv.endDate | date: 'dd-MM-yyyy'}}</p>
              <a [routerLink]="" (click)="seleccionarReser(reserv)" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">
                  <span class="badge badge-light badge-pill"  style="color: rgb(79, 182, 196)">
                    <i class="fas fa-info"></i>
                  </span>
                </a>
                <a [routerLink]="" (click)="confirmReserv(reserv)" class="card-link">
                    <span class="badge badge-light badge-pill"  style="color: rgb(66, 240, 23)">
                      <i class="fas fa-check-circle"></i>
                    </span>
                  </a>
                  <a [routerLink]="" (click)="cancelReserv(reserv)" class="card-link">
                      <span class="badge badge-light badge-pill"  style="color: rgb(252, 39, 39)">
                        <i class="fas fa-times"></i>
                      </span>
                    </a>
            </div>
          </div>
   

        </div>
  <div *ngIf="reservs.length == 0">
    <h2 style="margin: 20px">{{'No posee confirmaciones pendientes' | translate}}</h2>
  </div>
</div>

<div style="border: 1px solid black; margin: 20px; padding: 30 px">
    <h2 style="margin: 20px"> {{'Mis vehiculos solicitados' | translate}}</h2>

    <div style="width: 18rem;margin-top: 20px;margin-left: 10px;font-family: Nunito, sans-serif ">


          <div class="card" style="width: 18rem;margin: 10px;display: inline-block" *ngFor="let rentOwn of rentsOwner">
              <div class="card-body">
                <h5 class="card-title">{{rentOwn.client.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{rentOwn.state | translate}}</h6>
                <p class="card-text">{{rentOwn.startDate | date: 'dd-MM-yyyy'}} - {{rentOwn.endDate | date: 'dd-MM-yyyy'}}</p>
                <a [routerLink]="" (click)="seleccionarReser(rentOwn)" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">
                    <span class="badge badge-light badge-pill"  style="color: rgb(79, 182, 196)">
                      <i class="fas fa-info"></i>
                    </span>
                  </a>
                  <a [routerLink]="" (click)="confirmRent(rentOwn)" class="card-link" *ngIf="rentOwn.state != 'PickUpConfirmed' && rentOwn.state != 'ClientConfirmedReturn'">
                      <span class="badge badge-light badge-pill"  style="color: rgb(66, 240, 23)">
                        <i class="fas fa-check-circle"></i>
                      </span>
                    </a>
                    <a [routerLink]="" (click)="cancelRent(rentOwn)" class="card-link">
                        <span class="badge badge-light badge-pill"  style="color: rgb(252, 39, 39)">
                          <i class="fas fa-times"></i>
                        </span>
                      </a>

                      <button *ngIf="rentOwn.state == 'ClientConfirmedReturn'" class="btn btn-success" (click)="seleccionarRent(rentOwn)" data-toggle="modal" data-target="#modalCenterReturnVehicle">{{'Confirmar devolución' | translate}}</button>

              </div>
            </div>
      </div>
    <div *ngIf="rentsOwner.length == 0">
      <h2 style="margin: 20px">{{'No posee confirmaciones pendientes' | translate}}</h2>
    </div>
  </div>

  <div style="border: 1px solid black; margin: 20px; padding: 30 px">
    <h2 style="margin: 20px"> {{'Vehiculos pedidos' | translate}}</h2>
      <div style="width: 18rem;margin-top: 20px;margin-left: 10px;font-family: Nunito, sans-serif ">

            <div class="card" style="width: 18rem;margin: 10px" *ngFor="let rentCli of rentsClient">
                <div class="card-body">
                  <h5 class="card-title">{{rentCli.client.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{rentCli.state | translate}}</h6>
                  <p class="card-text">{{rentCli.startDate | date: 'dd-MM-yyyy'}} - {{rentCli.endDate | date: 'dd-MM-yyyy'}}</p>
                  <a [routerLink]="" (click)="seleccionarReser(rentCli)" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">
                      <span class="badge badge-light badge-pill"  style="color: rgb(79, 182, 196)">
                        <i class="fas fa-info"></i>
                      </span>
                    </a>
                    <a [routerLink]="" (click)="confirmRent(rentCli)" class="card-link" *ngIf="rentCli.state != 'PickUpConfirmed'">
                            <span class="badge badge-light badge-pill"  style="color: rgb(66, 240, 23)">
                              <i class="fas fa-check-circle"></i>
                            </span>
                        </a>

                        <a [routerLink]="" (click)="cancelRent(rentCli)" class="card-link">
                            <span class="badge badge-light badge-pill"  style="color: rgb(252, 39, 39)">
                              <i class="fas fa-times"></i>
                            </span>
                          </a>

                          <button *ngIf="rentCli.state == 'PickUpConfirmed'" class="btn btn-success" (click)="seleccionarRent(rentCli)" data-toggle="modal" data-target="#modalCenterReturnVehicle">{{'Devolver vehiculo' | translate}}</button>

                </div>
              </div>

            </div>
      <div *ngIf="rentsClient.length == 0">
        <h2 style="margin: 20px">{{'No posee confirmaciones pendientes' | translate}}</h2>
      </div>
    </div>

    <div *ngIf="successModal" class="alert alert-success" role="alert">
      {{successModalMessage | translate}}
      <button type="button" class="close" (click)="successModal = false" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="errorAlert" class="alert alert-danger" role="alert">
      {{errorMessage | translate}}
      <button type="button" class="close" (click)="successModal = false" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>



  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item">
                <p>{{'Fecha comienzo' | translate}}: <strong>{{reservaSeleccionada.startDate | date:'medium':'shortTime':'es-AR'}}</strong></p>
              </li>
              <li class="list-group-item">
                  <p>{{'Fecha fin' | translate}}: <strong>{{reservaSeleccionada.endDate | date:'medium':'short':'es-AR'}}</strong></p>
              </li>
              <li class="list-group-item">
                  <p>{{'Cliente' | translate}}: <strong>{{reservaSeleccionada.client.name}}</strong></p>
              </li>
              <li class="list-group-item">
                  <p>{{'Score del cliente' | translate}}: <strong *ngIf="reservaSeleccionada">{{reservaSeleccionada.client.score}}</strong><strong *ngIf="reservaSeleccionada != null">0.0</strong></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="modalCenterReturnVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{'Confirmar devolución del vehículo' | translate}}</h5>
          </div>
          <div class="modal-body">
            <form [formGroup]="formRent">
              <h5 >{{'Ingrese una calificacíon' | translate}}</h5>
              <input type="number" id="score" class="form-control"
                placeholder="Por favor ingresa una calificacíon entre 1 y 10"
                formControlName="score" min="1" max="10"><br>
              <button class="btn btn-danger" (click)="closeModal()" data-dismiss="modal">Atras</button>
              <button class="btn btn-success" (click)="confirmVehicleReturns()" data-dismiss="modal">Continuar</button>
            </form>
          </div>
        </div>
      </div>
  </div>


  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#B2DFDB"
  loadingText="Cargando..."
  type="ball-pulse">
  </ngx-spinner>
</div>
