<div class="container">
  <ul class="list-group" style="width: 18rem;margin-top: 20px;margin-left: 10px;font-family: Nunito, sans-serif ">
    <li class="list-group-item" *ngFor="let reserv of reservs">
    <div class="row">
      <div class="col-md-3">{{reserv.client.name}}</div>
    </div>
    <div class="row">
        <div class="col-md">
            <a [routerLink]="" (click)="seleccionarReser(reserv)" data-toggle="modal" data-target="#exampleModalCenter">
              <span class="badge badge-light badge-pill"  style="color: rgb(79, 182, 196)">
                <i class="fas fa-info"></i>
              </span>
            </a>
        </div>
        <div class="col-md">
          <a [routerLink]="" (click)="confirmReserv(reserv)">
            <span class="badge badge-light badge-pill"  style="color: rgb(66, 240, 23)">
              <i class="fas fa-check-circle"></i>
            </span>
          </a>
        </div>
        <div class="col-md">
          <a [routerLink]="" (click)="cancelReserv(reserv)">
            <span class="badge badge-light badge-pill"  style="color: rgb(252, 39, 39)">
              <i class="fas fa-times"></i>
            </span>
          </a>
        </div>
      </div>
  </li>
  </ul>
  <div *ngIf="reservs.length == 0">
    <h2>{{'No posee confirmaciones pendientes' | translate}}</h2>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item">
                <p>Fecha comienzo: <strong>{{reservaSeleccionada.startDate | date:'medium':'shortTime':'es-AR'}}</strong></p>
              </li>
              <li class="list-group-item">
                  <p>Fecha fin: <strong>{{reservaSeleccionada.endDate | date:'medium':'short':'es-AR'}}</strong></p>
              </li>
              <li class="list-group-item">
                  <p>Cliente: <strong>{{reservaSeleccionada.client.name}}</strong></p>
              </li>
              <li class="list-group-item">
                  <p>Score del cliente: <strong>{{reservaSeleccionada.client.score}}</strong></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#B2DFDB"
  loadingText="Cargando..."
  type="ball-pulse">
  </ngx-spinner>



</div>
