<div class="container">
  <div style="border: 1px solid black; margin: 20px; padding-top: 30 px">
      <h2 style="margin: 20px"> {{'Alquileres realizados' | translate}}</h2>
      <div class="card post" style="width: 18rem;margin-top: 20px;margin-left: 10px;font-family: Nunito, sans-serif " *ngFor="let rent of rentsClient">
          <h5 class="card-title">{{rent.post.title}}</h5>
          <img class="card-img-top" src="{{rent.post.photo}}" alt="Card image cap" height="150px" width="250px">
          <div class="card-body">
            <h5 class="card-title">Dueño: {{rent.post.creator.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{rent.state | translate}}</h6>
            <div *ngIf="rent.state == 'RentDone'">
              <h6 class="card-subtitle mb-2 text-muted">Fecha de retiro: {{rent.startDate | date:'medium':'shortTime':'es-AR'}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Fecha de entrega: {{rent.endDate | date:'medium':'shortTime':'es-AR'}}</h6>
            </div>
          </div>
      </div>
  <div *ngIf="rentsClient.length == 0">
    <h2 style="margin: 20px">{{'No realizó ningun alquiler' | translate}}</h2>
  </div>
  </div>

  <div style="border: 1px solid black; margin: 20px; padding: 30 px">
    <h2 style="margin: 20px"> {{'Mis vehiculos' | translate}}</h2>

    <div class="card post" style="width: 18rem;margin-top: 20px;margin-left: 10px;font-family: Nunito, sans-serif " *ngFor="let rentOwn of rentsOwner">
        <h5 class="card-title">{{rentOwn.post.title}}</h5>
    		<img class="card-img-top" src="{{rentOwn.post.photo}}" alt="Card image cap" height="150px" width="250px">
    		<div class="card-body">
          <h5 class="card-title">Alquilado a: {{rentOwn.client.name}}</h5>
      		<h6 class="card-subtitle mb-2 text-muted">{{rentOwn.state | translate}}</h6>
          <div *ngIf="rentOwn.state == 'RentDone'">
            <h6 class="card-subtitle mb-2 text-muted">Fecha de retiro: {{rentOwn.startDate | date:'medium':'shortTime':'es-AR'}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Fecha de entrega: {{rentOwn.endDate | date:'medium':'shortTime':'es-AR'}}</h6>
          </div>
    		</div>
  	</div>
    <div *ngIf="rentsOwner.length == 0">
      <h2 style="margin: 20px">{{'No realizó ningun alquiler' | translate}}</h2>
    </div>
  </div>
</div>
