<div class="container">
  <div style="width: 98%;margin-top: 30px;margin-left: 10px;font-family: Nunito, sans-serif; border: 1px solid #d8d8d8; border-radius: 3px">
    <div style="width: 98%; padding-top: 20px; padding-left: 20px; padding-right: 20px;">
      <div align="right">
        <div class="dropdown" *ngIf="logged() && isFromUser">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <a class="dropdown-item" [routerLink]="" (click)="edit()">{{'Editar' | translate}}</a>
            <a class="dropdown-item" [routerLink]="" (click)="openDialog()">{{'Eliminar' | translate}}</a>
          </div>
      </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-8">
            <img class="card-img-top" [src]="post.photo" alt="Imagen publicacion">
          </div>
          <div class="col-sm-4">
            <h2>{{post.title}}</h2><br/>
            <div class="">
              <span>{{'Precio por dia' | translate}}: </span>
              <span>{{post.priceDay | currency}}</span>
            </div>
            <div class="">
              <span>{{'Precio por hora' | translate}}: </span>
              <span>{{post.priceHour | currency}}</span>
            </div>
            <br/>
            <h4>{{'Dirección de retiro' | translate}}:</h4>
            <p > {{post.addressToPickUp}} </p><br/>
            <h4>{{'Puntuación del dueño' | translate}}: {{userScore}}</h4>
            <br/>
            <button class="btn btn-primary" *ngIf="logged() && !isFromUser" (click)="rent()">{{'Reservar' | translate}}</button>
          </div>
        </div>
    		<div >
          <br/>
          <h3>{{'Descripcíon del vehiculo' | translate}}</h3>
          <p class="card-text">{{post.description}}</p>
          <div class="">
            <span>{{'Tipo de vehículo' | translate}}:</span>
            <span>{{post.typeVehicle}}</span>
          </div>
          <div class="">
            <span>{{'Capacidad' | translate}}:</span>
            <span>{{post.capacity}}</span>
          </div>
          <div class="">
            <span>{{'Disponibilidad' | translate}}:</span>
            <span>{{post.availability}}</span>
          </div>
          <div class="">
            <span>{{'Direccion de devolucion' | translate}}:</span>
            <span>{{post.addressToDrop}}</span>
          </div>
          <br/>
          <h3>{{'Contacto' | translate}}</h3>
          <div class="">
            <span>{{'Usuario' | translate}}:</span>
            <span>{{post.creator.name}}</span><br/>
          </div>
          <div class="">
            <span>{{'Teléfono' | translate}}:</span>
            <span>{{post.phoneNumber}}</span><br/><br/>
          </div>
    		</div>
      </div>
    </div>

    <ngx-spinner  
  	bdColor="rgba(51,51,51,0.8)"
  	size="medium"
  	color="#B2DFDB"
  	loadingText="Cargando..."
  	type="ball-pulse">
  	</ngx-spinner>

  </div>
