<div class="container">
  <h2 style="font-family: Poppins, sans-serif">{{'Crear cuenta' | translate}}</h2>
  <form [formGroup]="usuario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="cuilInput">CUIL/CUIT ({{'sin guiones' | translate}})</label>
      <input type="string" class="form-control" id="cuilInput" placeholder="20000000013" formControlName="cuil" [class.invalid]="usuario.controls['cuil'].invalid && usuario.controls['cuil'].dirty">
      <p style="color:red" class="error_message" *ngIf="usuario.controls['cuil'].invalid && (usuario.controls.submitted || usuario.controls['cuil'].dirty)">Ingrese un número de CUIL válido</p>
    </div>
    <div class="form-group">
      <label for="nameInput">{{'Nombre y apellido' | translate}}</label>
      <input type="string" class="form-control" id="nameInput" placeholder="{{'Nombre completo' | translate}}" formControlName="name" [class.invalid]="usuario.controls['name'].invalid && usuario.controls['name'].dirty">
      <p style="color:red" class="error_message" *ngIf="usuario.controls['name'].invalid && (usuario.controls.submitted || usuario.controls['name'].dirty)">El nombre de usuario debe tener al menos 4 letras</p>
    </div>
    <div class="form-group">
      <label for="addressInput">{{'Direccion' | translate}}</label>
      <input type="string" class="form-control" id="addressInput" placeholder="Humbreto Primo 3598" formControlName="address" [class.invalid]="usuario.controls['address'].invalid && usuario.controls['address'].dirty">
    </div>
    <div class="form-group">
      <label for="mailInput">Mail</label>
      <input type="email" class="form-control" id="mailInput" placeholder="ejemplo@gmail.com" formControlName="email" [class.invalid]="usuario.controls['email'].invalid && usuario.controls['email'].dirty">
    </div>
    <div class="form-group" *ngIf="!isEdit">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="******" formControlName="password" [class.invalid]="usuario.controls['password'].invalid && usuario.controls['password'].dirty">
    </div>

    <button type="submit" class="btn btn-success" [class.buttonInvalid]="validForm()" [disabled]="validForm()">{{'Aceptar' | translate}}</button>
    <button class="btn btn-danger" routerLink="/posts">{{'Atras' | translate}}</button>
  </form>
</div>
