<nav class="navbar navbar-expand-md">
    <div class="row container-fluid" style="font-family: Nunito, sans-serif">
      <div class="col-md-3">
    <a class="navbar-brand" routerLink="/posts" (click)="cleanSearch()" style="margin: auto;"><p style="float: left;"><img src="assets/img/CarPnDLogo1.png" width="30px" height="30px"> </p> <p style="font-family: Nunito, sans-serif;">  CarPnD</p></a>
  </div>
    <div class="input-group col-md-4">
    <!--<div class="form-inline" style="margin: auto;position: center">-->
      <input [(ngModel)]="searchText" class="form-control" type="search" placeholder="{{'Buscar' | translate}}" aria-label="Search" >
      <div class="input-group-append">
        <button class="btn btn-outline-info" type="button" (click)="setSearch()"><i class="fas fa-search"></i></button>
      </div>
    <!--</div>-->
  </div>
    <div class="col-md-5">
    <ul class="navbar-nav mr-auto" style="margin: auto">

          <li class="nav-item" *ngIf="logged()">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="user.imgsrc" class="rounded-circle" width="30" height="30"> {{user.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownProfile">
                    <a class="dropdown-item" [routerLink]="'/editUser/' + user.id ">{{'Editar perfil' | translate}}</a>
                    <a class="dropdown-item" [routerLink]="" (click)="routeTo('confirmations')">{{'Confirmaciones'| translate}}</a>
                    <a class="dropdown-item" [routerLink]="" (click)="routeTo('history')">{{'Historial de alquileres'| translate}}</a>
                    <a class="dropdown-item" [routerLink]="'/infoCuenta/' + user.id ">{{'Estado cuenta' | translate}}</a>
                    <a class="dropdown-item" [routerLink]="" (click)="signOut()">{{'Cerrar sesion' | translate}}</a>
                </div>
            </div>
          </li>
          <li class="nav-item" *ngIf="logged()">
              <a class="nav-link" [routerLink]="'/newPost/' + user.id">{{'Publicar' | translate}}</a>
            </li>
          <li class="nav-item" *ngIf="logged()">
            <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{'Creditos'| translate}}: {{user.credits}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" [routerLink]="" (click)="addCredits()">{{'Alta de creditos'| translate}}</a>
                <a class="dropdown-item" [routerLink]="" (click)="extractCredits()">{{'Retiro de creditos' | translate}}</a>
            </div>
            </div>

          </li>

      <li class="nav-item" *ngIf="!logged()">
        <a class="nav-link" routerLink="/login">{{'Iniciar sesion' | translate}} <i class="fas fa-user"></i></a>
      </li>
<!--      <li class="nav-item" *ngIf="!logged()">
        <a class="nav-link" routerLink="/registro">{{'Registrarse' | translate}}</a>
      </li>-->
      <!--<li class="nav-item">
      	<a class="nav-link" routerLink="/ejemploGMaps">{{'Ejemplo GMaps' | translate}}</a>
      </li>-->

      <li class="nav-item" style="margin-left: 10px">
        <a [routerLink]="" (click)="changeLang('es')" style="border-right: 0.5px solid black;padding-right: 5px"><img src="assets/img/es.svg" height="20px" width="25px"></a>

        <a [routerLink]="" (click)="changeLang('en')" style="border-left: 0.5px solid black;padding-left: 5px"><img src="assets/img/gb.svg" height="20px" width="25px"></a>
      </li>
    </ul>
  </div>
  </div>

</nav>


<router-outlet></router-outlet>
