<nav class="navbar navbar-expand-md">
  <div class="container-fluid" style="float: left;font-family: Nunito, sans-serif">

    <a class="navbar-brand" routerLink="/posts" (click)="cleanSearch()" style="margin: auto;"><p style="float: left;"><img src="assets/img/CarPnDLogo1.png" width="30px" height="30px"> </p> <p style="font-family: Nunito, sans-serif;">  CarPnD</p></a>

    <div class="form-inline my-2 my-lg-0" style="margin: auto;position: center">
      <input [(ngModel)]="searchText" class="form-control mr-sm-2" type="search" placeholder="{{'Buscar' | translate}}" aria-label="Search" size="50px">
        <button class="btn btn-outline-info my-2 my-sm-0"  (click)="setSearch()" ><i class="fas fa-search"></i>
      </button>
    </div>

    <ul class="navbar-nav mr-auto" style="margin: auto">
        <li class="nav-item" *ngIf="logged()">
            <a class="nav-link" routerLink="/newPost">{{'Publicar' | translate}}</a>
          </li>
          <li class="nav-item" *ngIf="logged()">
            <a class="nav-link" routerLink="/editUser">{{'Editar perfil' | translate}}</a>
          </li>
      <li class="nav-item" *ngIf="!logged()">
        <a class="nav-link" routerLink="/login">{{'Iniciar sesion' | translate}} <i class="fas fa-user"></i></a>
      </li>
      <li class="nav-item" *ngIf="!logged()">
        <a class="nav-link" routerLink="/registro">{{'Registrarse' | translate}}</a>
      </li>
      <!--<li class="nav-item">
      	<a class="nav-link" routerLink="/ejemploGMaps">{{'Ejemplo GMaps' | translate}}</a>
      </li>-->
      
      <li>
        <a [routerLink]="" (click)="changeLang('es')"><img src="assets/img/es.svg" height="20px" width="25px"></a>
        <span> | </span>
        <a [routerLink]="" (click)="changeLang('en')"><img src="assets/img/gb.svg" height="20px" width="25px"></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
