<div class="container">


	<div class="card post" style="width: 18rem;margin-top: 20px;margin-left: 10px;font-family: Nunito, sans-serif " *ngFor="let post of posts | postFilter : searchText | paginate: { itemsPerPage: 3, currentPage: p }">
  		<img class="card-img-top" src="{{post.photo}}" alt="Card image cap" height="150px" width="250px">
  		<div class="card-body">
    		<h5 class="card-title">{{post.title}}</h5>
    		<h6 class="card-subtitle mb-2 text-muted">{{post.typeVehicle}}</h6>

    		<p class="card-text">{{post.description}}</p>
    		<button class="btn btn-primary" (click)="viewPost(post)">
				{{'Mas detalles' | translate}}
						<i class="fas fa-info-circle"></i>
				</button>
  		</div>
	</div>
	<pagination-controls class="my-pagination" autoHide="true" previousLabel="{{'Anterior' | translate}}" nextLabel="{{'Siguiente' | translate}}" (pageChange)="p = $event"></pagination-controls>
</div>
